$primaire:#9356dc;
$secondaire:#c968db;
$tertiaire: #99E2D0;



//--------------------------------------


// mixin pour zone // texte intro // intitulés des menus (pages)

@mixin zone-intro-resto{
    width: auto;
    height: 5rem;
    padding: 2rem 0rem 2rem 0rem;
        
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
  
}

@mixin txtintrorestopage($typo:'Shrikhand', $size:2rem){
    font-size: $size;
    font-family: $typo;
    font-weight: bold; 
    width: 80%;

}


@mixin txt_intitules{
    margin-left: 2rem;
    color: lighten(black, 45%);
    
    border-bottom: $tertiaire solid 0.3rem;
    width: 3.2rem ;
    padding-bottom: 0.2rem;    
}


// ------------------------------------------


//mixin pour les boutons du fo

$normal:linear-gradient(168deg, $secondaire 60%,$primaire 90%);
$light: linear-gradient(168deg, lighten($secondaire, 5%) 60%, lighten($primaire, 5%) 90%);

@mixin boutons ($color:rgb(240, 240, 240),$typo:'Roboto' sans-serif, $size:large, $primaire:#9356dc, $secondaire:#c968db ) {

      width: 16.5rem;
      height: 3.5rem;
      

      display: flex;
      align-items: center;
      justify-content: center;
    

      border: 0.02rem solid rgb(156, 156, 156); 
      border-radius: 2.5rem;
      box-shadow: 0rem 0.5rem 1rem 0rem rgb(156, 156, 156);
      background: $normal;
          
        &:hover{
            background: $light;
            box-shadow: 0.8rem 0.7rem 0.7rem 0.1rem rgb(156, 156, 156);
            transition: box-shadow 0.5s ease-in-out;
        }     

}


//---------------------------------------------


//mixin pour les cadres nav (pages)

@mixin cadrepagenav {
  

    width: 90%;
    height: 6.5rem;
    margin-bottom: 1rem;
    margin-left: 1rem;

    color: black;
    background-color: white;  

    display: inline-flex;
    align-items: center;
    justify-content: space-between;

    border-radius:1.5rem;
    border: 0.1rem solid rgb(230, 230, 230);
    box-shadow: 0rem 0.7rem 1.5rem rgb(230, 230, 230);
    
    animation: fadeInDown 2s;

        @keyframes fadeInDown {
            0% {
                    opacity: 0;
                    -webkit-transform: translateY(-150px);
            }
            100% {
                    opacity: 1;
                    -webkit-transform: translateY(0);
            }
        }


              .pair{ 
                width: 80%;
                height: auto;
                padding-left: 1rem;


                  &:hover > h3 {

                    width: auto;
                    transition: 1s ease-in-out;
                    white-space: nowrap;  
                    overflow: hidden;
                    text-overflow: ellipsis;  
                  }

                  
                    &:hover > p{
                      
                      width: auto;
                      transition: 1s ease-in-out;
                      white-space: nowrap;  
                      overflow: hidden;
                      text-overflow: ellipsis; 
                    }       


                  h3{
                    font-size: 1.3rem;
                    font-weight: bold;
                    margin-top: 0.5rem;
                        
                  } 

                
                  p{
                    font-size: 1.2rem;
                    font-weight: lighter;

                    margin: -1.15rem auto 0.5rem auto;
                    color: lighten(black, 35%); 
                  }              
              }


            &:hover .pair {
              width: 60%;
              transition: 1s ease-in-out;
              white-space: nowrap;  
              overflow: hidden;
              text-overflow: ellipsis;  
            }   
            
            &:hover .pair > h3{
                      
              width: 100%;
              transition: 1s ease-in-out;
              white-space: nowrap;  
              overflow: hidden;
              text-overflow: ellipsis;
             
            }  
            
            
            &:hover .pair > p{

              width: 100%;
              transition: 1s ease-in-out;
              white-space: nowrap;  
              overflow: hidden;
              text-overflow: ellipsis;
             
            }
                 

            .cadre_moneyslider{

              width: auto;
              height: 100%;
              display: inline-flex;
              justify-content: flex-end;
              

                           
                .slidergreen{
                    width: 6rem;
                    height: 100%;

                    position: relative;
                    background-color: #99E2D0;
              
                    opacity: 0;
                    right: -50%;
                    transition: 1s ease-in-out;

                    display: flex;  
                    justify-content: center;
                    align-items: center;

                    border-top-right-radius:1.5rem;
                    border-bottom-right-radius:1.5rem;


                  .fa-check-circle{

                     height: 50%;
                     width: 50%;
                    
                     color: white;
                     font-weight: bold;
                     font-size: 2.5rem;

                     display: flex;
                     align-items: center;
                     justify-content: center; 
                     
                     transition: 2s;          
                  }

                }

                .money{

                    position: absolute;
                    font-size: 1.3rem;
                    font-weight: bold;
                    
                    display: flex;            
                    margin: 3rem 1rem 0rem 0rem;                             
                }  
            
            }


          &:hover .cadre_moneyslider > .slidergreen {

            opacity: 1;
            right: 0%;
            transition: 2s right, 1s opacity ease-in-out; 
          }
          
          &:hover .fa-check-circle{

            transition: 2s;
            transform: rotate(-360deg);
          }
         
}


//----------------------------------------


//mixin remplissage des coeur

@mixin remplircoeur{

        width: 10%;
        height: 5rem;
        margin-right: 1rem;

        

        .fa-heart{

            margin-top: 1.8rem;
            font-size: 2.2rem;
            color: rgb(177, 177, 177);
            transition: color 2s ease-out;        
            
            
             &:active {
              font-weight: bold;
              color: #c968db;
              cursor: pointer;
              transition: color 1s ease-in;

            }          
        }
}


//------------------------------------------------


// mixin footer

@mixin titrefooter ($typo:'Shrikhand', $size:x-large, $color:white){
    
    font-family: $typo;
    font-size: $size;
    color: $color;

    padding-top: 1.5rem;
    margin-left: 2rem;

}

@mixin footer ($size:large, $color:white){

    font-size: $size;
    color: $color;

    width: auto;
    height: 16rem;
    margin-top: -1.5rem;

    background: lighten(black, 22%);
 
 

    

    ul{      
        list-style: none;
        padding-left: 0rem;
        margin-left: 2rem;

          li{
            margin-bottom: 0.5rem;

            &:hover{
                color: $secondaire;
            }

            a{
                color:$color;

                &:hover{
                    color:$secondaire;
                }
            }
        }

      .txticonefooter{
          font-weight: bolder;
        
        .fa-hands-helping, .fa-utensils{
            margin-right: 1rem;
            margin-bottom:0.5rem;

            width: 1rem;
            height: 1rem;
        }
   
      }
    
    }

}
// -----------------------------------------

// loader

@mixin loaderpage{ 

  
  body { 


    .cadreloader{
    
      position: absolute;
      width: 85%;
      height: 100vh;
    
      --effect: hover 20s linear infinite;
    
      *{
         margin:0;
      }
  
      display: flex;
      align-items: center;
      justify-content: center;
    

      animation: fadeOut 5s;
      animation-fill-mode: forwards;

      @keyframes fadeOut {

          0%{
            opacity: 1;
            -webkit-transform: translateX(0);
            visibility: visible;
          }

          100%{
            opacity: 0;
            -webkit-transform: translateX(0);
            visibility: hidden;
          }        
      }

      .trait{

          width: 100vw;
          height: 100vh;
          position: absolute;


        .one{
          border-left: 3px solid $tertiaire;
          box-shadow: rgb(202, 202, 202) 60px 120px 90px 1px;
          position: absolute;
          left: 18%;
          bottom: 15%;
        
          height: 90%;
          width: 3rem;
          transform: rotate(45deg);
        }

        .two{
           border-left: 3px solid $tertiaire;
          box-shadow: rgb(219, 219, 219) 25px 200px 80px 1px;
          position: absolute;
          left: 75%;
          top: 15%;
          height: 120%;
          width: 3rem;
          transform: rotate(47deg);
        }
      }

        .anime {
          text-align: center;
          margin-bottom: 2rem;
    
  
        .espace{
          margin-right: 1.2rem;
        }

        .tel{
          display: inline-flex;
        }
    
        p {
          display: inline-block;
          position:relative;

          font-size: 7em;
          font-family: arial;

          color: $primaire;
          text-align: center;
          text-transform: uppercase;  

          font-weight: 900;
          transform: scale(.8);
      
          -webkit-text-stroke: 0.3rem rgb(230, 230, 230);
        }
  
        p:nth-child(1) {
          animation: var(--effect);
        }
  
        p:nth-child(2) {
          animation: var(--effect) .15s;
        }
  
        p:nth-child(3) {
          animation: var(--effect) .25s;
        }
  
        p:nth-child(4) {
          animation: var(--effect) .35s;
        }
  
        p:nth-child(5) {
          animation: var(--effect) .45s;
        }
  
        p:nth-child(6) {
          animation: var(--effect) .60s;
        }
  
        p:nth-child(7) {
          animation: var(--effect) .65s;
        }

        p:nth-child(8) {
          animation: var(--effect) .75s;
        } 
  
        @keyframes hover {

          20%{
             transform: scale(.6);
             color: $primaire;
             -webkit-text-stroke: 0.1rem $primaire;
          }
  
          40%{
            transform: scale(1);
            color: $secondaire;
            -webkit-text-stroke: 0.1875rem $secondaire;
            filter: drop-shadow(0 0 0.0625rem white)drop-shadow(0 0 0.0625rem rgb(230, 230, 230))drop-shadow(0 0 0.1875rem rgb(216, 215, 215))drop-shadow(0 0 0.3125rem black)hue-rotate(7turn);
          }
  
          60%{
             transform: scale(.9);
             color: $tertiaire;
             -webkit-text-stroke: 0.2rem $tertiaire;
          }
  
        }

        .chargement{
            width: 18rem;
            height: 3rem;
            margin: 3rem auto 0rem auto;

            display: flex;
            justify-content: center;
            align-items: center;

            border: 0.2rem double $secondaire;
            box-shadow: rgb(154, 47, 255) 5px 3px 10px 4px;
            border-radius: 2rem;

   
          .rotate{
           color: $primaire;

           font-size: 2rem;  
           font-weight: bold;
           -webkit-text-stroke: 2px rgb(172, 172, 172);

           animation: rotation 5s infinite linear;      
          }

          @keyframes rotation {
		
            from {
				      transform: rotateX(0deg);
            }
		
            to {
				      transform: rotateX(360deg);
            }

          }

        }
      }
    }
  }
}