body {
  width: 100%;
  height: auto;
  margin: 0.5rem auto 0.5rem 0rem;
  font-family: 'roboto';
  color: black;
}

body a {
  color: black;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  body {
    width: 90%;
    height: auto;
    margin: auto;
    background: url(favour-otunji-dD7xFyDzES4-unsplash.jpg) 10% 50% no-repeat fixed;
    background-image: cover;
  }
}

@media screen and (min-width: 1024px) {
  body {
    width: 70%;
    height: auto;
    margin: auto;
    background: url(favour-otunji-dD7xFyDzES4-unsplash.jpg) 10% 50% no-repeat fixed;
    background-size: cover;
  }
}

.back-white header, .back-white .zone_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.back-white header #zone_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.back-white {
  width: 100%;
  height: auto;
  overflow-x: hidden;
}

@media screen and (min-width: 768px) {
  .back-white {
    width: auto;
    height: auto;
    border: 0.2rem solid #834e83;
    -webkit-box-shadow: 0rem 0.7rem 0.7rem #e6e6e6;
            box-shadow: 0rem 0.7rem 0.7rem #e6e6e6;
    background-color: white;
  }
}

.back-white header {
  width: auto;
  height: auto;
}

@media screen and (min-width: 1024px) {
  .back-white header {
    background-color: white;
  }
}

.back-white header #zone_logo {
  width: auto;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin: 1.5rem 0rem 0.8rem 0rem;
}

.back-white header #zone_logo .fa-arrow-left {
  width: auto;
  height: auto;
  margin: 0rem 0rem 0rem 1.5rem;
  color: black;
  font-size: 1.8rem;
  font-weight: bold;
}

.back-white header #zone_logo .logimg {
  width: 100%;
  height: auto;
  height: 2.4rem;
  margin-right: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 768px) {
  .back-white header #zone_logo {
    height: 5.5rem;
  }
  .back-white header #zone_logo .fa-arrow-left {
    margin: 0rem 0rem 0rem 4rem;
    font-size: 2.2rem;
  }
  .back-white header #zone_logo .logimg {
    width: 100%;
    height: 2.3rem;
    margin-left: -4.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1024px) {
  .back-white header #zone_logo {
    height: 7rem;
  }
  .back-white header #zone_logo .fa-arrow-left {
    margin: 0rem 0rem 0rem 4rem;
    font-size: 2.2rem;
  }
  .back-white header #zone_logo .logimg {
    width: 100%;
    height: 3.2rem;
    margin-left: -4.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.back-white header .zone_image {
  width: auto;
  height: auto;
}

.back-white header .zone_image .menu_image {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 768px) {
  .back-white header .zone_image {
    max-width: 100%;
    height: 20rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .back-white header .zone_image .menu_image {
    position: absolute;
    width: 72%;
    height: auto;
    border: 0.2rem solid rgba(80, 255, 36, 0.13);
  }
}

@media screen and (min-width: 1024px) {
  .back-white header .zone_image {
    max-width: auto;
    height: 20rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .back-white header .zone_image .menu_image {
    position: absolute;
    width: 56%;
    height: auto;
    border: 0.2rem solid rgba(131, 78, 131, 0.13);
  }
}

.back-white header .zone_image_note {
  width: auto;
  height: 25rem;
}

@media screen and (min-width: 768px) {
  .back-white header .zone_image_note {
    max-width: 100%;
    height: 20rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.back-white header .zone_image_note .cadre_image_note {
  width: auto;
  height: auto;
  position: absolute;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .back-white header .zone_image_note .cadre_image_note {
    width: 71%;
    height: 27rem;
    border: 0.2rem solid rgba(131, 78, 131, 0.13);
  }
}

@media screen and (min-width: 1024px) {
  .back-white header .zone_image_note .cadre_image_note {
    width: 56%;
    height: 27rem;
    border: 0.2rem solid rgba(131, 78, 131, 0.13);
  }
}

.back-white header .zone_image_note .cadre_image_note .menu_image_note {
  width: 100%;
  position: relative;
  height: auto;
  bottom: 7.1rem;
}

@media screen and (min-width: 768px) {
  .back-white header .zone_image_note .cadre_image_note .menu_image_note {
    height: auto;
    bottom: 15rem;
  }
}

.back-white .zone_nav {
  width: auto;
  height: auto;
  position: relative;
  background-color: #fafafa;
  margin: -4rem 0rem 1.5rem 0rem;
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 768px) {
  .back-white .zone_nav {
    width: 80%;
    height: auto;
    margin: auto;
    border: 0.2rem solid rgba(131, 78, 131, 0.123);
  }
}

@media screen and (min-width: 1024px) {
  .back-white .zone_nav {
    width: 80%;
    height: auto;
    margin: auto;
    border: 0.2rem solid rgba(131, 78, 131, 0.123);
  }
}

.back-white .zoneintroresto {
  width: auto;
  height: 5rem;
  padding: 2rem 0rem 2rem 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.back-white .zoneintroresto .nomduresto {
  font-size: 2rem;
  font-family: "Shrikhand";
  font-weight: bold;
  width: 80%;
}

.back-white .zoneintroresto .coeur {
  width: 10%;
  height: 5rem;
  margin-right: 1rem;
}

.back-white .zoneintroresto .coeur .fa-heart {
  margin-top: 1.8rem;
  font-size: 2.2rem;
  color: #b1b1b1;
  -webkit-transition: color 2s ease-out;
  transition: color 2s ease-out;
}

.back-white .zoneintroresto .coeur .fa-heart:active {
  font-weight: bold;
  color: #c968db;
  cursor: pointer;
  -webkit-transition: color 1s ease-in;
  transition: color 1s ease-in;
}

.back-white .intitules {
  margin-left: 2rem;
  color: #737373;
  border-bottom: #99E2D0 solid 0.3rem;
  width: 3.2rem;
  padding-bottom: 0.2rem;
}

.back-white .cadrenavpage {
  width: 90%;
  height: 6.5em;
  margin-bottom: 1rem;
  margin-left: 1rem;
  color: black;
  background-color: white;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 1.5rem;
  border: 0.1rem solid #e6e6e6;
  -webkit-box-shadow: 0rem 0.7rem 1.5rem #e6e6e6;
          box-shadow: 0rem 0.7rem 1.5rem #e6e6e6;
  -webkit-animation: fadeInDown 2s;
          animation: fadeInDown 2s;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-150px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-150px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

.back-white .cadrenavpage .pair {
  width: 80%;
  height: auto;
  padding-left: 1rem;
}

.back-white .cadrenavpage .pair:hover > h3 {
  width: auto;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.back-white .cadrenavpage .pair:hover > p {
  width: auto;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.back-white .cadrenavpage .pair h3 {
  font-size: 1.3rem;
  font-weight: bold;
  margin-top: 0.5rem;
}

.back-white .cadrenavpage .pair p {
  font-size: 1.2rem;
  font-weight: lighter;
  margin: -1.15rem auto 0.5rem auto;
  color: #595959;
}

.back-white .cadrenavpage:hover .pair {
  width: 60%;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.back-white .cadrenavpage:hover .pair > h3 {
  width: 100%;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.back-white .cadrenavpage:hover .pair > p {
  width: 100%;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.back-white .cadrenavpage .cadre_moneyslider {
  width: auto;
  height: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.back-white .cadrenavpage .cadre_moneyslider .slidergreen {
  width: 6rem;
  height: 100%;
  position: relative;
  background-color: #99E2D0;
  opacity: 0;
  right: -50%;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}

.back-white .cadrenavpage .cadre_moneyslider .slidergreen .fa-check-circle {
  height: 50%;
  width: 50%;
  color: white;
  font-weight: bold;
  font-size: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 2s;
  transition: 2s;
}

.back-white .cadrenavpage .cadre_moneyslider .money {
  position: absolute;
  font-size: 1.3rem;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 3rem 1rem 0rem 0rem;
}

.back-white .cadrenavpage:hover .cadre_moneyslider > .slidergreen {
  opacity: 1;
  right: 0%;
  -webkit-transition: 2s right, 1s opacity ease-in-out;
  transition: 2s right, 1s opacity ease-in-out;
}

.back-white .cadrenavpage:hover .fa-check-circle {
  -webkit-transition: 2s;
  transition: 2s;
  -webkit-transform: rotate(-360deg);
          transform: rotate(-360deg);
}

.back-white .zone_bouton {
  width: auto;
  height: auto;
  margin: 1rem auto 4rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.back-white .zone_bouton a {
  text-decoration: none;
  color: #f0f0f0;
  font-size: large;
  font-weight: 900;
}

.back-white .zone_bouton .bouton_violin {
  width: 16.5rem;
  height: 3.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 0.02rem solid #9c9c9c;
  border-radius: 2.5rem;
  -webkit-box-shadow: 0rem 0.5rem 1rem 0rem #9c9c9c;
          box-shadow: 0rem 0.5rem 1rem 0rem #9c9c9c;
  background: linear-gradient(168deg, #c968db 60%, #9356dc 90%);
  background: linear-gradient(178deg, #c968db 40%, #9356dc 95%);
}

.back-white .zone_bouton .bouton_violin:hover {
  background: linear-gradient(168deg, #d07de0 60%, #a16be0 90%);
  -webkit-box-shadow: 0.8rem 0.7rem 0.7rem 0.1rem #9c9c9c;
          box-shadow: 0.8rem 0.7rem 0.7rem 0.1rem #9c9c9c;
  -webkit-transition: -webkit-box-shadow 0.5s ease-in-out;
  transition: -webkit-box-shadow 0.5s ease-in-out;
  transition: box-shadow 0.5s ease-in-out;
  transition: box-shadow 0.5s ease-in-out, -webkit-box-shadow 0.5s ease-in-out;
}

footer {
  font-size: large;
  color: white;
  width: auto;
  height: 16rem;
  margin-top: -1.5rem;
  background: #383838;
  border: 3rem, solid, lighten black, 22%;
}

footer ul {
  list-style: none;
  padding-left: 0rem;
  margin-left: 2rem;
}

footer ul li {
  margin-bottom: 0.5rem;
}

footer ul li:hover {
  color: #c968db;
}

footer ul li a {
  color: white;
}

footer ul li a:hover {
  color: #c968db;
}

footer ul .txticonefooter {
  font-weight: bolder;
}

footer ul .txticonefooter .fa-hands-helping, footer ul .txticonefooter .fa-utensils {
  margin-right: 1rem;
  margin-bottom: 0.5rem;
  width: 1rem;
  height: 1rem;
}

footer #titre_footer {
  font-family: "Shrikhand";
  font-size: x-large;
  color: white;
  padding-top: 1.5rem;
  margin-left: 2rem;
}
/*# sourceMappingURL=styles-pages.css.map */